@using Company_Site.Data
@using Company_Site.Enum

<div class="@(IsCollapsed? "collapsed" : "") navbar">
    <nav class="d-flex justify-content-center flex-column px-3">
        <a class="@((SelectedOption == "Dashboard" || SelectedOption == string.Empty ? "active" : "")) nav-item my-2 text-start" href="" @onclick='(() => {SelectedOption = "Dashboard";})'>
            <div class='nav-link d-flex align-items-center'>
                <span class="fa fa-th-large me-2" aria-hidden="true"></span> <p class="m-0">Dashboard</p>
            </div>
        </a>
        <a class="@((SelectedOption == "MemoMaster" ? "active" : "")) nav-item my-2 text-start" href="/memomaster"  @onclick='(() => {SelectedOption = "MemoMaster";})'>
            <div class="nav-link d-flex align-items-center" >
                <span class="fa fa-envelope me-2" aria-hidden="true"></span> <p class="m-0">Memo Master</p>
            </div>
        </a>
        <a class="@((SelectedOption == "TrustMaster" ? "active" : "")) nav-item my-2 text-start" href="/trustmaster"  @onclick='(() => {SelectedOption = "TrustMaster";})'>
            <div class="nav-link d-flex align-items-center">
                <span class="fa fa-building me-2" aria-hidden="true"></span> <p class="m-0">Trust Master</p>
            </div>
        </a>
        <a class="@((SelectedOption == "Finance" ? "active" : "")) nav-item my-2 text-start" href="/finance"  @onclick='(() => {SelectedOption = "Finance";})'>
            <div class="nav-link d-flex align-items-center">
                <span class="fa fa-file-invoice-dollar me-2" aria-hidden="true"></span> <p class="m-0">Finance</p>
            </div>
        </a>
        <a class="@((SelectedOption == "AccountManagement" ? "active" : "")) nav-item my-2 text-start" href="/accounts"  @onclick='(() => {SelectedOption = "AccountManagement";})'>
            <div class="nav-link d-flex align-items-center">
                <span class="fa fa-users me-2" aria-hidden="true"></span> <p class="m-0">Accounts</p>
            </div>
        </a>
        <a class="@((SelectedOption == "Legal" ? "active" : "")) nav-item my-2 text-start" href="/legalmanagement"  @onclick='(() => {SelectedOption = "Legal";})'>
            <div class="nav-link d-flex align-items-center">
                <span class="fa fa-balance-scale me-2" aria-hidden="true"></span> <p class="m-0">Legal</p>
            </div>
        </a>
        <a class="@((SelectedOption == "StatementOfAccount" ? "active" : "")) nav-item my-2 text-start" href="/statement_of_account"  @onclick='(() => {SelectedOption = "StatementOfAccount";})'>
            <div class="nav-link d-flex align-items-center">
                <span class="fa fa-space-shuttle me-2" aria-hidden="true"></span> <p class="m-0">Statement Of Account</p>
            </div>
        </a>
        <a class="@((SelectedOption == "Contacts" ? "active" : "")) nav-item my-2 text-start" href="/contacts"  @onclick='(() => {SelectedOption = "Contacts";})'>
            <div class="nav-link d-flex align-items-center">
                <span class="fa fa-users me-2" aria-hidden="true"></span> <p class="m-0">Contacts</p>
            </div>
        </a>
        <a class="@((SelectedOption == "EmployeeManagement" ? "active" : "")) nav-item my-2 text-start" href="/employeelist"  @onclick='(() => {SelectedOption = "EmployeeManagement";})'>
            <div class="nav-link d-flex align-items-center">
                <span class="fa fa-users me-2" aria-hidden="true"></span> <p class="m-0">Employee Management</p>
            </div>
        </a>
        @if(IsAdmin){
            <a class="@((SelectedOption == "Policy" ? "active" : "")) nav-item my-2 text-start" href="/companypolicy"  @onclick='(() => {SelectedOption = "Policy";})'>
                <div class="nav-link d-flex align-items-center">
                    <span class="fa fa-file-archive me-2" aria-hidden="true"></span> <p class="m-0">Policy</p>
                </div>
            </a>
        }
        <a class="@((SelectedOption == "Reports" ? "active" : "")) nav-item my-2 text-start" href="/reports"  @onclick='(() => {SelectedOption = "Reports";})'>
            <div class="nav-link d-flex align-items-center">
                <span class="fa fa-file-archive me-2" aria-hidden="true"></span> <p class="m-0">Reports</p>
            </div>
        </a>
        <a class="@((SelectedOption == "vdr" ? "active" : "")) nav-item my-2 text-start" href="/vdr"  @onclick='(() => {SelectedOption = "vdr";})'>
            <div class="nav-link d-flex align-items-center">
                <span class="fa fa-folder me-2" aria-hidden="true"></span> <p class="m-0">VDR</p>
            </div>
        </a>
        <a class="@((SelectedOption == "Logout" ? "active" : "")) nav-item my-2 text-start" href="/logout"  @onclick='(() => {SelectedOption = "Logout";})'>
            <div class="nav-link d-flex align-items-center">
                <span class="fa fa-lock me-2"></span> <p class="m-0">Logout</p>
            </div>
        </a>
    </nav>
</div>

@code {
    /// <summary>
    /// Indicates the currently selected option of the menu
    /// </summary>
    private string SelectedOption = string.Empty;

    [Parameter]
    public bool IsCollapsed { get; set; }

    [CascadingParameter(Name = "IsAdmin")]
    public bool IsAdmin { get; set; }

    [CascadingParameter(Name ="Pages")]
    public List<UserPages> Pages { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }
}
