@page "/employeelist"
@using Company_Site.Base;
@using Company_Site.Data;
@using Company_Site.Pages.Components

<p class="fw-bold text-button-heading mb-2">Employee List</p>

<div class="row">
   
    <div class="col-xl-3 col-lg-5 col-md-6 col-sm-12 px-0 pb-4">
        <ContactList Enteries="Enteries" Title="" GetContactId="@(e => e.Id)" GetContactName="@(e => $"{e.FirstName} {e.LastName}")" OnClick="EditRecord" OnDelete="DeleteRecord"/>
    </div>

    <!--Form-->
    <div class="col-xl-9 col-lg-7 col-md-6 col-sm-12 px-2 m-0">
        <div class="card py-2 px-2">
            <div class="row">
                <div class="col-md-9">

                    <h3>Full Name: @NewEntry.FirstName @NewEntry.LastName</h3>
                    <h5>Employee ID: @NewEntry.Id</h5>

                    <EditForm Model=NewEntry OnValidSubmit=Save id="employeeForm" class="mt-3">

                        <DataAnnotationsValidator/>

                        <MultiErrorView Errors="_errors"/>

                        <div class="row">
                            <div class="col-md-5">
                                <label for="firstName">First Name</label>
                                <InputText @bind-Value=NewEntry.FirstName id="firstName" type="text" class="form-control"/>
                            </div>
                            <div class="col-md-2"></div>
                            <div class="col-md-5">
                                <label for="lastName">Last Name</label>
                                <InputText @bind-Value=NewEntry.LastName id="lastName" class="form-control" type="text"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <label for="address">Address</label>
                                <InputTextArea @bind-Value=NewEntry.Address id="address" style="resize: none; height: 130%;" class="form-control"></InputTextArea>
                            </div>
                            <div class="col-md-2"></div>
                            <div class="col-md-5">
                                <label for="city">City</label>
                                <InputText @bind-Value=NewEntry.City id="city" class="form-control" type="text"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5"></div>
                            <div class="col-md-2"></div>
                            <div class="col-md-5">
                                <label for="state">State</label>
                                <InputText @bind-Value=NewEntry.State id="state" class="form-control" type="text"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <label for="joiningDate">Joining Date</label>
                                <input @bind-value=NewEntry.JoiningDate id="joiningDate" type="date" class="form-control"/>
                            </div>
                            <div class="col-md-2"></div>
                            <div class="col-md-5">
                                <label for="birthday">Birthday</label>
                                <input id="birthday" @bind-value=NewEntry.Birthday class="form-control" type="date"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <label for="mobileNumber">Mobile Number</label>
                                <InputText @bind-Value=NewEntry.MobileNumber id="mobileNumber" type="tel" class="form-control"/>
                            </div>
                            <div class="col-md-2"></div>
                            <div class="col-md-5">
                                <label for="email">Email</label>
                                <InputText @bind-Value=NewEntry.Email id="email" class="form-control" type="email"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <label for="aadharCard">Aadharcard</label>
                                <InputText @bind-Value=NewEntry.AadharCard id="aadharCard" type="text" class="form-control"/>
                            </div>
                            <div class="col-md-2"></div>
                            <div class="col-md-5">
                                <label for="landlineNumber">Landline Number</label>
                                <InputText @bind-Value=NewEntry.LandlineNumber id="landlineNumber" class="form-control" type="tel"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <label for="department">Department</label>
                                <InputText @bind-Value=NewEntry.Department id="department" class="form-control" type="text"/>
                            </div>
                            <div class="col-md-2"></div>
                            <div class="col-md-5">
                                <label for="role">Pan Card</label>
                                <InputText @bind-Value=NewEntry.PanCard id="role" class="form-control" type="text"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <label for="designation">Designation</label>
                                <InputText @bind-Value=NewEntry.Designation id="designation" class="form-control" type="text"/>
                            </div>
                            <div class="col-md-2"></div>
                            <div class="col-md-5">
                                <label for="role">Role</label>
                                <InputText @bind-Value=NewEntry.Role id="role" class="form-control" type="text"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <label for="officeLocation">Office Location</label>
                                <InputText @bind-Value=NewEntry.OfficeLocation id="officeLocation" class="form-control" type="text"/>
                            </div>
                            <div class="col-md-2"></div>
                            <div class="col-md-5">
                                <label for="position">Position</label>
                                <InputText @bind-Value=NewEntry.Position id="position" class="form-control" type="text"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <label for="access">Access</label>
                                <InputText @bind-Value=NewEntry.Access id="access" class="form-control" type="text"/>
                            </div>
                            <div class="col-md-2"></div>
                            <div class="col-md-5">
                                <label for="regDate">Registration Date</label>
                                <input @bind-value=NewEntry.RegistrationDate id="regDate" class="form-control" type="date"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <label for="exitDate">Exit Date</label>
                                <InputText @bind-Value=NewEntry.ExitDate id="exitDate" class="form-control" type="date"/>
                            </div>
                            <div class="col-md-2"></div>
                            <div class="col-md-5">
                                <label for="status">Status</label>
                                <InputText @bind-Value=NewEntry.Status id="status" class="form-control" type="text"/>
                            </div>
                        </div>

                        <div class="d-flex justify-content-center mt-3">
                            <a class="btn btn-danger me-3" @onclick=Clear>Clear</a>
                            <button class="btn btn-primary">@(ShouldAdd ? "Add" : "Edit")</button>
                        </div>
                    </EditForm>
                </div>
                <div class="col-md-3">
                    <div id="marginDiv" class="d-flex w-100 justify-content-center align-items-center mb-0">
                        <div>
                            <div id="imageContainer" class="d-flex align-items-center justify-content-center" style="height: 180px; width: 150px; background-color: rgb(189, 189, 189);">
                                <p id="dpText">Photo here!</p>
                            </div>
                            <label class="btn btn-primary rounded-0" for="employeePhoto" style="width: 150px;">
                                Choose a Photo
                            </label>
                            <InputFile OnChange="ProfileImageChanged" @bind-Value=NewEntry.ProfileImage id="employeePhoto" class="form-control d-none" form="employeeForm" type="file"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>