@page "/legalmanagement"    
@using Company_Site.Data;
@using Company_Site.Pages.Components

<p class="fw-bold text-button-heading mb-2">Litigation Manager</p>

<div class="page-body">
    <div class="container-fluid">
        <div class="card">
            <div class="card">
                <div class="card-body">
                    <!-- Navbar -->
                    <div class="mt-3 d-flex justify-content-center mb-3 text-center">
                        <a class="btn btn-primary d-block mx-1" href="/accountnet">Case Management</a>
                        <a class="btn btn-primary d-block mx-1" href="/ncltnet">NCLT</a>
                        <a class="btn btn-primary d-block mx-1" href="/eventtimeline">Event Timeline</a>
                        <a class="btn btn-primary d-block mx-1" href="/NoticeAutomation">Notice Agreement</a>
                    </div>
                    <div class="card">
                        <div class="card-body text-center">
                            <Table T="AccountNetModel" T2="string" ShowSerialNumber=true Items="@_accountNets" Headers="@Headers" GetId="@GetId" IsDeleteable="@(t => false)" IsEditable="@(t => false)" IsSearchable=false></Table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>