@using Company_Site.Data;
@using Company_Site.Pages.Components
<div class="card">
    <div class="card-header pb-0">
        <h5>Distribution</h5>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <EditForm Model=Model class="form form-theme">
                        <label for="turstCode">Trust Code</label>
                        <label class="form-control mb-2">@Model.TrustCode</label>
                        <label for="turstName">Trust Name</label>
                        <label class="form-control mb-2">@Model.TrustName</label>
                        <label for="turstSetupDate">Trust Setup Date</label>
                        <label class="form-control mb-2">@Model.TrustSetupDate</label>
                        <label for="turstAge">Trust Age</label>
                        <label id="turstAge" class="form-control mb-2">@Model.TrustAge</label>
                        <br>
                        <hr />
                        <br>
                        <h4 for="particulars">Particulars</h4>
                        <label for="openingBalance">Opening Balance</label>
                        <label id="openingBalance" class="form-control mb-2">@Model.OpeningBalance</label>
                        <label for="totalPayment">Total Collection</label>
                        <label id="totalPayment" class="form-control mb-2">@Model.TotalCollection</label>
                        <label for="totalBalance">Total Balance</label>
                        <label id="totalBalance" class="form-control mb-2">@Model.TotalBalance</label>
                        <br>
                        <hr />
                        <br>
                        <h4 for="expenses">Expenses</h4>
                        <label for="trusteeshipFees">Trusteeship Fees</label>
                        <label id="trusteeshipFees" class="form-control mb-2">@Model.TrusteeshipFee</label>
                        <label for="resFees">Resolution Fees</label>
                        <label id="resFees" class="form-control mb-2">@Model.ResolutionFee</label>
                        <label for="collectionFees">Collection Fees</label>
                        <label id="collectionFees" class="form-control mb-2">@Model.CollectionFee</label>
                        <label for="totalOtherExpenses">Total Other Expenses</label>
                        <label id="totalOtherExpenses" class="form-control mb-2" type="number">@Model.TotalOtherExpenses</label>
                        <label for="otherAdjustments">Other Adjustments</label>
                        <InputNumber @bind-Value=Model.OtherAdjustments id="otherAdjustments" class="form-control mb-2" type="number"/>
                        <label for="totalExpenses">Total Expenses</label>
                        <label id="totalExpenses" class="form-control mb-2">@Model.TotalExpenses</label>
                        <label for="balance">Balance</label>
                        <label id="balance" class="form-control mb-2">@Model.Balance</label>
                        <label for="gst">GST:30%</label>
                        <InputNumber @bind-Value=Model.GST_Rate id="gst" class="form-control mb-2" type="number"/>
                        <label for="lessAdvanceTDS">Less: Advance TDS 10%</label>
                        <InputNumber @bind-Value=@Model.LessAdvancedTDS id="lessAdvanceTDS" class="form-control mb-2" type="number"/>
                        <label for="amountAvailable">Amount Available</label>
                        <label id="amountAvailable" class="form-control mb-2">@Model.AmountAvailable</label>
                        <label for="normalDistribution">Normal Distribution</label>
                        <label id="normalDistribution" class="form-control mb-2">@Model.TotalSRValue</label>
                        <label for="surplusDistribution">Surplus Distribution</label>
                        <label id="surplusDistribution" class="form-control mb-2">@Model.TotalUpsideSRValue</label>
                        <label for="newSRvalue">New SR value</label>
                        <label id="newSRvalue" class="form-control mb-2">@Model.NewSRValue</label>
                        <label for="lessProvision">Less: Provision</label>
                        <InputNumber @bind-Value=Model.LessProvision id="lessProvision" class="form-control mb-2" type="number"/>
                        <label for="closingBalance">Closing Balance</label>
                        <label id="closingBalance" class="form-control mb-2" type="number">@Model.ClosingBalance</label>

                        <label for="trustDesc">Trust description</label>
                        <label id="trustDesc" class="form-control mb-2">@Model.TrustDescription</label>
                        <label for="t&c">Terms & Condition</label>
                        <label id="t&c" class="form-control mb-2">@Model.TermsAndConditions</label>

                        <div class="d-flex">
                            <button class="btn btn-primary clear me-1" @onclick=Clear>Clear All</button>
                            <button class="btn btn-primary" @onclick=Process>Process</button>
                        </div>
                    </EditForm>
                </div>
                <div class="col-md-8">
                    <h5>SR Details</h5>
                    <table class="table">
                        <thead>
                            <th>SR Holder</th>
                            <th>Normal</th>
                            <th>SR Share</th>
                            <th>Surplus</th>
                            <th>SR Share</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@Model.IssuerName</td>
                                <td>@Model.IssuerSharePercentage%</td>
                                <td>@Math.Round(Model.IssuerShare, 2)</td>
                                <td>@Model.IssuerUpsideShares%</td>
                                <td>@Math.Round(Model.IssuerUpsideShares)</td>
                            </tr>
                            <tr>
                                <td>@Model.HolderName</td>
                                <td>@Model.HolderSharePercentage%</td>
                                <td>@Math.Round(Model.HolderShare)</td>
                                <td>@Model.HolderUpsideSharePercentage%</td>
                                <td>@Math.Round(Model.HolderUpsideShares)</td>
                            </tr>
                            <tr>
                                <td>Total</td>
                                <td>@Model.TotalSharePercentage%</td>
                                <td>@Math.Round(Model.SRIssued)</td>
                                <td>@Model.TotalUpsideSharePercentage%</td>
                                <td>@Math.Round(Model.SRIssued)</td>
                            </tr>
                        </tbody>
                    </table>
                    <br>
                    <table class="table text-center">
                        <thead>
                            <th>Distribution</th>
                            <th colspan="2">Normal Gross Distribution</th>
                            <th colspan="2">Surplus Gross Distribution</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>SR Holder</td>
                                <td>SR Value</td>
                                <td>Amount in Rs.</td>
                                <td>SR value</td>
                                <td>Amount in Rs.</td>
                            </tr>
                            <tr>
                                <td>@Model.IssuerName</td>
                                <td>@Math.Round(Model.IssuerSRValue, 2)</td>
                                <td>@Math.Round(Model.IssuerAmount, 2)</td>
                                <td>@Math.Round(Model.IssuerUpsideSRValue, 2)</td>
                                <td>@Math.Round(Model.IssuerUpsideAmount, 2)</td>
                            </tr>
                            <tr>
                                <td>@Model.HolderName</td>
                                <td>@Math.Round(Model.HolderSRValue, 2)</td>
                                <td>@Math.Round(Model.HolderAmount, 2)</td>
                                <td>@Math.Round(Model.HolderUpsideSRValue, 2)</td>
                                <td>@Math.Round(Model.HolderUpsideAmount, 2)</td>
                            </tr>
                            <tr>
                                <td>Total</td>
                                <td>@Math.Round(Model.TotalSRValue, 2)</td>
                                <td>@Math.Round(Model.SRIssued, 2)</td>
                                <td>@Math.Round(Model.TotalUpsideSRValue, 2)</td>
                                <td>@Math.Round(Model.TotalUpsideAmount, 2)</td>
                            </tr>
                        </tbody>
                    </table>
                    <br>
                    <table class="table text-center">
                        <thead>
                            <th></th>
                            <th colspan="2">Opening</th>
                            <th colspan="2">Closing</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>SR Holder</td>
                                <td>FV SR Value</td>
                                <td>Distribution Value</td>
                                <td>FV SR value</td>
                                <td>Distribution Value</td>
                            </tr>
                            <tr>
                                <td>@Model.IssuerName</td>
                                <td>@Math.Round(Model.IssuerOpeningFVSRValue, 2)</td>
                                <td>@Math.Round(Model.IssuerOpeningDistributionValue, 2)</td>
                                <td>@Math.Round(Model.IssuerClosingFVSRValue, 2)</td>
                                <td>@Math.Round(Model.IssuerClosingDistributionValue, 2)</td>
                            </tr>
                            <tr>
                                <td>@Model.HolderName</td>
                                <td>@Math.Round(Model.HolderOpeningFVSRValue, 2)</td>
                                <td>@Math.Round(Model.HolderClosingDistributionValue, 2)</td>
                                <td>@Math.Round(Model.HolderClosingFVSRValue, 2)</td>
                                <td>@Math.Round(Model.HolderUpsideAmount, 2)</td>
                            </tr>
                            <tr>
                                <td>Total</td>
                                <td>@Math.Round(Model.TotalOpeningFVSRValue, 2)</td>
                                <td>@Math.Round(Model.TotalOpeningDistributionValue, 2)</td>
                                <td>@Math.Round(Model.TotalClosingFVSRValue, 2)</td>
                                <td>@Math.Round(Model.TotalClosingDistributionValue, 2)</td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="my-2">
                        <h5 class="my-2">Expenses</h5>
                        <CollapsibleContainer Id="1">
                            <Table T="ExpenseEntry" T2="int" Headers="ExpenseHeaders" Items=ExpenseEntries GetId=GetExpenseId IsSearchable="false" IsEditable="@(p => false)" IsDeleteable="@(p => false)"/>
                        </CollapsibleContainer>
                    </div>

                    <div class="my-2">
                        <h5 class="my-2">Collections</h5>
                        <CollapsibleContainer Id="2">
                            <Table T="CollectionEntry" T2="int" OnRowClick="CollectionRowSelected" ShowSerialNumber=true Items="Collections" GetId="GetCollectionId" Headers="CollectionHeaders" IsSearchable="false" IsEditable="@(p => false)" IsDeleteable="@(p => false)"/>
                        </CollapsibleContainer>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>