@layout Company_Site.Shared.AdminLayout
@page "/admin"

@using Company_Site.Data
@using Company_Site.Enum
@using Company_Site.Services
@using System.Linq
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage

@inject UserManager userManager
@inject ProtectedSessionStorage sessionStorage
@inject NavigationManager navigationManager

<PageTitle>Admin Dashboard</PageTitle>

<div class="container-fluid">
	<div class="row">
		<div class="col-11">
			<h3 class="mt-3">Users</h3>
		</div>
		<div class="col-1 d-flex justify-content-start align-items-center">
			<a class="btn btn-primary" @onclick="AddUser"><i class="fa fa-plus"></i></a>
		</div>
	</div>
</div>

<div class="container-fluid mt-4">
	<!--Table Header-->
	<div class="row">
		<div class="col-3">
			Show 
			<select id="enteriesSelection" class="select-box">
				<option value="10">10</option>
				<option value="20">20</option>
				<option value="30">30</option>
				<option value="50">50</option>
			</select>
			enteries
		</div>
		<div class="col-8 d-flex justify-content-end">
			<div>
				<label for="searchBox">Search</label>
				<input type="text" class="roundedTextBox w-50"/>
				<a class="btn btn-outline-dark">Print</a>
				<a class="btn btn-outline-dark">CSV</a>
			</div>
		</div>
	</div>
	<!--Table-->
	<div class="row my-3">
		<table class="table" id="MyTable" cellpadding="10" cellspacing="0" width="100%">
			<tr class="border-bottom-1">
				<th scope="col">
					<a class="btn-sortable" @onclick='(() => Sort("Id"))'>
						#
						@if(Sortings["Id"] == Sorting.Ascending){
								<i class="ms-1 fa fa-arrow-up d-inline"></i>
						}
						else if(Sortings["Id"] == Sorting.Descending)
						{
								<i class="ms-1 fa fa-arrow-down d-inline"></i>
						}
					</a>
				</th>
				<th scope="col" >
					<a class="btn-sortable" @onclick='(() => Sort("First Name"))'>
						First Name
						@if (Sortings["First Name"] == Sorting.Ascending)
						{
									<i class="ms-1 fa fa-arrow-up d-inline"></i>
						}
						else if (Sortings["First Name"] == Sorting.Descending)
						{
									<i class="ms-1 fa fa-arrow-down d-inline"></i>
						}
					</a>
				</th>
				<th scope="col" >
					<a class="btn-sortable" @onclick='(() => Sort("Last Name"))'>
						Last Name
						@if (Sortings["Last Name"] == Sorting.Ascending)
						{
									<i class="ms-1 fa fa-arrow-up d-inline"></i>
						}
						else if (Sortings["Last Name"] == Sorting.Descending)
						{
									<i class="ms-1 fa fa-arrow-down d-inline"></i>
						}
					</a>
				</th>
				<th scope="col" >
					<a class="btn-sortable" @onclick='(() => Sort("Date of Joining"))'>
						Date of Joining
						@if (Sortings["Date of Joining"] == Sorting.Ascending)
						{
									<i class="ms-1 fa fa-arrow-up d-inline"></i>
						}
						else if (Sortings["Date of Joining"] == Sorting.Descending)
						{
									<i class="ms-1 fa fa-arrow-down d-inline"></i>
						}
					</a>
				</th>
				<th scope="col" >
					<a class="btn-sortable" @onclick='(() => Sort("Email"))'>
						Email
						@if (Sortings["Email"] == Sorting.Ascending)
						{
									<i class="ms-1 fa fa-arrow-up d-inline"></i>
						}
						else if (Sortings["Email"] == Sorting.Descending)
						{
									<i class="ms-1 fa fa-arrow-down d-inline"></i>
						}
					</a>
				</th>
				<th scope="col" >
					<a class="btn-sortable" @onclick='(() => Sort("Department"))'>
						Department
						@if (Sortings["Department"] == Sorting.Ascending)
						{
									<i class="ms-1 fa fa-arrow-up d-inline"></i>
						}
						else if (Sortings["Department"] == Sorting.Descending)
						{
									<i class="ms-1 fa fa-arrow-down d-inline"></i>
						}
					</a>
				</th>
				<th scope="col" >
					<a class="btn-sortable" @onclick='(() => Sort("Role"))'>
						Role
						@if (Sortings["Role"] == Sorting.Ascending)
						{
									<i class="ms-1 fa fa-arrow-up d-inline"></i>
						}
						else if (Sortings["Role"] == Sorting.Descending)
						{
									<i class="ms-1 fa fa-arrow-down d-inline"></i>
						}
					</a>
				</th>
				<th scope="col" >
					<a class="btn-sortable" @onclick='(() => Sort("Designation"))'>
						Designation
						@if (Sortings["Designation"] == Sorting.Ascending)
						{
									<i class="ms-1 fa fa-arrow-up d-inline"></i>
						}
						else if (Sortings["Designation"] == Sorting.Descending)
						{
									<i class="ms-1 fa fa-arrow-down d-inline"></i>
						}
					</a>
				</th>
				<th scope="col" >
					<a class="btn-sortable" @onclick='(() => Sort("Mobile"))'>
						Mobile
						@if (Sortings["Mobile"] == Sorting.Ascending)
						{
									<i class="ms-1 fa fa-arrow-up d-inline"></i>
						}
						else if (Sortings["Mobile"] == Sorting.Descending)
						{
									<i class="ms-1 fa fa-arrow-down d-inline"></i>
						}
					</a>
				</th>
				<th scope="col" ></th>
			</tr>
			@foreach (User user in Users)
			{
			<tr>
				<th scope="row">@user.Id</th>
				<td >@user.FirstName</td>
				<td >@user.LastName</td>
				<td >@user.DateOfJoining.ToShortDateString()</td>
				<td >@user.Email</td>
				<td >@user.Department</td>
				<td >@user.Role</td>
				<td >@user.Designation</td>
				<td >@user.Mobile</td>
				<td >
						<a class=""><i class="fa fa-edit btn btn-outline-primary"></i></a>
						<a class=""><i class="fa fa-trash btn btn-outline-danger"></i></a>
				</td>
			</tr>
			}
		</table>
	</div>
	<!--Table Footer-->
	<div class="row">
		<div class="col-4">
			<p class="lead fs-small">Showing 1 to 10 out of 57 enteries</p>
		</div>
		<div class="col-8">
			<nav>
			  <ul class="pagination d-flex justify-content-end">
				<li class="page-item">
				  <a class="page-link" href="#" aria-label="Previous">
					<span aria-hidden="true">&laquo;</span>
					<span class="sr-only">Previous</span>
				  </a>
				</li>
				<li class="page-item"><a class="page-link" href="#">1</a></li>
				<li class="page-item"><a class="page-link" href="#">2</a></li>
				<li class="page-item"><a class="page-link" href="#">3</a></li>
				<li class="page-item">
				  <a class="page-link" href="#" aria-label="Next">
					<span aria-hidden="true">&raquo;</span>
					<span class="sr-only">Next</span>
				  </a>
				</li>
			  </ul>
			</nav>
		</div>
	</div>
</div>


@code {
	public List<User> Users = new List<User>();

	private Dictionary<string, Sorting> Sortings = new Dictionary<string, Sorting>()
	{
		["Id"] = Sorting.None,
		["First Name"]= Sorting.None,
		["Last Name"] = Sorting.None,
		["Date of Joining"] = Sorting.None,
		["Email"] = Sorting.None,
		["Department"] = Sorting.None,
		["Role"] = Sorting.None,
		["Designation"] = Sorting.None,
		["Mobile"] = Sorting.None,
	};

	protected override void OnInitialized()
	{
		base.OnInitialized();
		Users = userManager.GetUsers();
	}

	private void ResetSorting(string toSkip = null)
	{
		foreach (string key in Sortings.Keys)
		{
			if (key == toSkip)
				continue;
			Sortings[key] = Sorting.None;
		}
	}

	private void AddUser(){
		sessionStorage.SetAsync("UserPageMode", "add");
		navigationManager.NavigateTo("/admin/adduser");
	}

	///Sorts the table with the specified column
	private void Sort(string name)
	{
		ResetSorting(name);
		if (Sortings[name] == Sorting.None)
			Sortings[name] = Sorting.Ascending;
		else if (Sortings[name] == Sorting.Ascending)
			Sortings[name] = Sorting.Descending;
		else
			Sortings[name] = Sorting.Ascending;

		SortRecords(name);
	}

	private void SortRecords(string name)
	{
		switch (name)
		{
			case "Id":
				if (Sortings[name] == Sorting.Ascending)
					Users = Users.OrderBy(func => func.Id).ToList();
				else
					Users = Users.OrderByDescending(func => func.Id).ToList();
				return;
			case "First Name":
				if (Sortings[name] == Sorting.Ascending)
					Users = Users.OrderBy(func => func.FirstName).ToList();
				else
					Users = Users.OrderByDescending(func => func.FirstName).ToList();
				return;
			case "Last Name":
				if (Sortings[name] == Sorting.Ascending)
					Users = Users.OrderBy(func => func.LastName).ToList();
				else
					Users = Users.OrderByDescending(func => func.LastName).ToList();
				return;
			case "Date of Joining":
				if (Sortings[name] == Sorting.Ascending)
					Users = Users.OrderBy(func => func.DateOfJoining).ToList();
				else
					Users = Users.OrderByDescending(func => func.DateOfJoining).ToList();
				return;
			case "Email":
				if (Sortings[name] == Sorting.Ascending)
					Users = Users.OrderBy(func => func.Email).ToList();
				else
					Users = Users.OrderByDescending(func => func.Email).ToList();
				return;
			case "Department":
				if (Sortings[name] == Sorting.Ascending)
					Users = Users.OrderBy(func => func.Department).ToList();
				else
					Users = Users.OrderByDescending(func => func.Department).ToList();
				return;
			case "Role":
				if (Sortings[name] == Sorting.Ascending)
					Users = Users.OrderBy(func => func.Role).ToList();
				else
					Users = Users.OrderByDescending(func => func.Role).ToList();
				return;
			case "Designation":
				if (Sortings[name] == Sorting.Ascending)
					Users = Users.OrderBy(func => func.Designation).ToList();
				else
					Users = Users.OrderByDescending(func => func.Designation).ToList();
				return;
			case "Mobile":
				if (Sortings[name] == Sorting.Ascending)
					Users = Users.OrderBy(func => func.Mobile).ToList();
				else
					Users = Users.OrderByDescending(func => func.Mobile).ToList();
				return;
		}
	}

}
