@inherits ComponentBase

<div @attributes="CapturedAttributes">
	<!--Items-->
	<div @onclick="DisplaySelectItems" class="d-flex align-items-center select-header text-dark">
		<div>
			<div>
				@foreach (string option in _selectedOptions)
				{
					<span class="me-1 option rounded-pill">@option</span>
				}
			</div>
			<i class="fa fa-angle-down"></i>
		</div>
	</div>

	<div class="multi-select">
		@if (IsSelectBoxDisplayed)
		{
			<div class="select-box">

				<div class="form-floating m-2">
						  <input type="text" class="form-control" id="Search" placeholder="Search" @oninput='@(e => SearchTextChanged(e))'>
					  <label for="Search">Search</label>
				</div>

				@foreach (string option in DisplayedOptions)
				{
					<div class="select-box-item">
						@if(_selectedOptions.Contains(option)){
							<input type="checkbox" class="d-inline-block form-checkbox" @onchange='@(e => ItemSelected(e, option))' checked>
						}
						else{
							<input type="checkbox" class="d-inline-block form-checkbox" @onchange='@(e => ItemSelected(e, option))'>
						}
						<option value="@option" class="d-inline-block ms-1"> @option </option>
					</div>
				}
			</div>
		}
	</div>

</div>

@code {

	[Parameter(CaptureUnmatchedValues = true)]
	public Dictionary<string, object> CapturedAttributes { get; set; }

	//The list of options to display
	[Parameter]
	public List<string> Options { get; set; } = new List<string>();

	/// <summary>
	/// The list of options which are displayed to the user
	/// </summary>
	public List<string> DisplayedOptions { get; set; } = new List<string>();

	//List of options selected
	[Parameter]
	public List<string> SelectedOptions{
		get => _selectedOptions;
		set{
			if (value == _selectedOptions)
				return;
			_selectedOptions = value;
			SelectedOptionsChanged.InvokeAsync(value);
		}
	}

	private List<string> _selectedOptions = new List<string>();

	[Parameter]
	public EventCallback<List<string>> SelectedOptionsChanged { get; set; }

	private bool IsSelectBoxDisplayed = false;

	protected override void OnInitialized()
	{
		base.OnInitialized();
		DisplayedOptions = Options;
	}

	//Displays the select bar
	private void DisplaySelectItems(){
		IsSelectBoxDisplayed ^= true;
	}

	//Fires when the change event is fired
	private void ItemSelected(ChangeEventArgs e, string option){
		string? value = option;
		bool val = (bool)e.Value;
		if(value != null){
			if (val)
				_selectedOptions.Add(value);
			else
				_selectedOptions.Remove(value);
			SelectedOptionsChanged.InvokeAsync(_selectedOptions);
		}
	}

	private void SearchTextChanged(ChangeEventArgs e)
	{
		if (e.Value == null)
		{
			DisplayedOptions = Options;
			return;
		}

		string text = e.Value.ToString().ToLower();
		DisplayedOptions = Options.Where(f => f.ToLower().Contains(text)).ToList();
		StateHasChanged();
	}

}
