@using Company_Site.Data
@using Company_Site.Data
@using Company_Site.Enum
@typeparam T 
@typeparam T2

<div class="container-fluid mt-4 w-100">
	
	<div class="modal" id="deleteConfirmModal">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Confirmation</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<p>Are you sure you want to delete the record?</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					<button type="button" @onclick="DeleteRecord"  data-bs-dismiss="modal"  class="btn btn-danger">Confirm</button>
				</div>
			</div>
		</div>
	</div>

	<!--Table Header-->
	@if (IsSearchable)
	{
		<EditForm Model="SearchModel" Context="searchBar">

			<div class="row">
				<div class="col-xl-2 col-lg-3 col-md-5 col-sm-6 col-12 fs">
					Show 
					<select id="enteriesSelection" class="select-box mx-1 w-20" @onchange="@RowsToShowChange">
						<option value="10">10</option>
						<option value="20">20</option>
						<option value="30">30</option>
						<option value="50">50</option>
					</select>
					enteries
				</div>
				<div class="col-xl-10 col-lg-9 col-md-7 col-sm-6 col-12 p-0 d-flex justify-content-end">
					<div class="fs">
						<label for="searchBox">Search</label>
						<input type="text" class="roundedTextBox" @bind-value="@SearchText"/>
						<a class="btn btn-outline-primary mx-1 btn-search" @onclick="SearchRecords"><i class="fa fa-search"></i></a>
					</div>
				</div>
			</div>

		</EditForm>
	}

	<!--Table-->
	<div class="mt-3 table-wrapper">
		<table class="table" id="MyTable" cellpadding="10" cellspacing="0" width="100%">
			<tr class="border-bottom-1">
				@if(ShowSerialNumber){
					<th scope="col" class="text-center">
						<div class="btn-sortable align-content-start row m-0">
							<p class="d-inline-block text-start col-8 m-0">Serial Number</p>
						</div>
					</th>
				}
				@foreach(string header in Headers.Keys){
					@if(!string.IsNullOrEmpty(header)){
						<th>
							<div class="btn-sortable align-content-start justify-content-start row m-0" @onclick='(() => Sort(header))'>
								<p class="d-inline-block text-start col-8 m-0">@header</p>
							</div>
						</th>
					}
					else{
						<th></th>
					}
				}
			</tr>
			@foreach (T item in DisplayedItems)
			{
				<tr>
					@if(ShowSerialNumber){
						<td class="text-start fs-5">@SR</td>
					}
					@foreach(string header in Headers.Keys)
					{
						@if(CheckInput(header))
						{
							<td class="align-middle">
								<input class="form-control" 
									value="@(GetHeaderValue(header, item))" 
									@oninput="@(t => SetInputValue(header, t, item))"
								/>
							</td>
						}
						else
						{
							<td class="text-start fs-5">@GetHeaderValue(header, item)</td>
						}
					}
					<td>
						@if (IsSaveable && OnSave != null)
						{
							<a @onclick='@(() => OnSave(item))' class="my-1"><i class="fa fa-save btn btn-outline-primary"></i></a>
						}
						else
						{
							@if (IsViewable(item))
							{
								<a @onclick='@(() => ViewRecord(GetId(item)))' class="my-1"><i class="fa fa-eye btn btn-outline-primary"></i></a>
							}
							@if (IsEditable(item))
							{
								<a @onclick='@(() => EditRecord(GetId(item)))' class="my-1"><i class="fa fa-edit btn btn-outline-primary"></i></a>
							}
							@if (IsDeleteable(item))
							{
								<a @onclick='@(() => DeleteRecordId(GetId(item)))' data-bs-toggle="modal" class="my-1" data-bs-target="#deleteConfirmModal"><i class="fa fa-trash btn btn-outline-danger"></i></a>
							}
						}
					</td>
				</tr>
				SR++;
			}
		</table>
	</div>
	<!--Table Footer-->
	<div class="row">
		<div class="col-4">
			<p class="lead page-footer">Showing @(DisplayedItems.Count > 0 ? (_CurrentPage - 1) * SearchModel.RowsToShow + 1 : 0) to @(DisplayedItems.Count + ((_CurrentPage - 1) * SearchModel.RowsToShow)) out of @Items.Count enteries</p>
		</div>
		<div class="col-8">
			<nav>
				<ul class="pagination d-flex justify-content-end">
				<li class="page-item">
					<a class="page-link @(_CurrentPage == 1 ?  "disabled" : "")" @onclick='@(() => PreviousPage())' aria-label="Previous">
						<span>Previous</span>
					</a>
				</li>
				@foreach(int p in Pages)
				{
					<li class="page-item mouse-pointer"><a class="page-link" @onclick='@(() => ChangePage(p))'>@p</a></li>
				}
				<li class="page-item">
					<a class="page-link @(_CurrentPage == 1 ?  "disabled" : "")" @onclick='@(() => NextPage())' aria-label="Next">
						<span>Next</span>
					</a>
				</li>
				</ul>
			</nav>
		</div>
	</div>
</div>
