@page "/ApprovalsAndMemo"

@inherits BaseAddPage<ApprovalsAndMemoModel, int>

@using Company_Site.Base;
@using Company_Site.Data;
@using Company_Site.Pages.Components

<h2 class="ms-3">Approvals And Memo</h2>

<CollapsibleContainer>
    <div class="mx-2">
        <EditForm Model="NewEntry" OnValidSubmit="Save"> 
            
            <DataAnnotationsValidator/>

            <MultiErrorView Errors="_errors"/>

            <div class="row">
                <div class="col-md-3">
                    <label for="approval">Approval</label>
                    <input @bind-value=NewEntry.Approval_Date Approval  class="form-control" type="date"/>
                    <ValidationMessage For="@(() => NewEntry.Approval_Date)"/>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-3">
                    <label for="type">Type</label>
                    <InputText @bind-Value=NewEntry.Type id="Type" class="form-control" type="text"/>
                    <ValidationMessage For="@(() => NewEntry.Type)"/>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-3">
                    <label for="committee">Committee</label>
                    <InputText @bind-Value=NewEntry.Committee id="Committee" class="form-control" type="text"/>
                    <ValidationMessage For="@(() => NewEntry.Committee)"/>
                </div>
            </div>
            <label for="details">Details</label>
            <InputText @bind-Value=NewEntry.Details id="details" class="form-control"></InputText>
            <ValidationMessage For="@(() => NewEntry.Details)"/>
            <div class="my-3">
                <a class="btn btn-danger me-2" @onclick=OnClear>Clear</a>
                <input type="submit" class="btn btn-primary" value="@(ShouldAdd ? "Add" : "Edit")"/>
            </div>
            <label for="supporting">Supporting</label>
            <div class="">
                <div class="input-group w-50">
                    <InputFile OnChange="SupportingFileChanged" @bind-Value=NewEntry.FilePath class="form-control" form="employeeForm" type="file"/>
                    <ValidationMessage For="@(() => NewEntry.FilePath)"/>
                </div>
                <p class="my-2">@(NewEntry.FilePath != null ? new FileInfo(NewEntry.FilePath).Name : "")</p>
            </div>
        </EditForm>
    </div>
</CollapsibleContainer>

<div class="my-2">

    <div class="d-flex justify-content-end mb-2 mt-4">
        <DateFilter SearchRecords="ApplyDateFilter" Clear="ClearDateFilter"/>
    </div>

    <Table T="Memo" T2="string" Headers="Headers" Items="memos" GetId="GetId" OnSearch=SearchMemo IsDeleteable="@(e => false)" IsEditable="@(e => false)" ValueCallback="GetValue" IsViewable="@(t => true)" ViewItem="ViewMemo" ViewHeader="Supporting"/>
</div>
