@page "/eventtimeline"

@inherits BaseAddPage<EventTimelineModel, int>

@using Company_Site.Base;
@using Company_Site.Data;
@using Company_Site.Pages.Components
@using Company_Site.Pages.User;

<h2 class="ms-3">Event Timeline</h2>

<CollapsibleContainer>
    <div class="mx-2">
        <EditForm Model="NewEntry" OnValidSubmit="Save">

            <DataAnnotationsValidator />

            <MultiErrorView Errors="_errors" />
			
            <div class="row">
                <div class="col-md-3">
                    <label for="eventDate">Event Date</label>
                    <input @bind-value="NewEntry.EventDate" id="eventDate" type="date" class="form-control"/>
                    <ValidationMessage For="@(() => NewEntry.EventDate)" />
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-3">
                    <label for="event">Event</label>
                    <InputText @bind-Value="NewEntry.Event" id="event" type="text" class="form-control" />
                    <ValidationMessage For="@(() => NewEntry.Event)" />
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-3">
                    <label for="reminder">Reminder</label>
                    <input @bind-value="NewEntry.ReminderDate" id="reminder" type="date" class="form-control"/>
                </div>
            </div>
            <label for="details">Details</label>
            <InputTextArea @bind-Value=NewEntry.Details id="details" class="form-control mb-3"></InputTextArea>
            <ValidationMessage For="@(() => NewEntry.Details)" />

            <div class="d-flex justify-content-center align-items-center">
                <a @onclick=Clear class="btn btn-danger me-2">Clear</a>
                <input class="btn btn-primary" type="submit" value="@(ShouldAdd ? "Add" : "Edit")"/>
            </div>
            
        </EditForm>
    </div>
</CollapsibleContainer>

<div class="d-flex justify-content-end mb-2 mt-4">
    <DateFilter SearchRecords="ApplyDateFilter" Clear="ClearDateFilter"/>
</div>

<Table T="EventTimelineModel" T2="int" ShowSerialNumber=true Items="@Enteries" Headers="Headers" GetId="@GetId" OnDelete="DeleteRecord" OnEdit="EditRecord" OnSearch="Search"></Table>
