
@page "/ncltnet"

@inherits BaseAddPage<NcltNetModel, int>

@using Company_Site.Base;
@using Company_Site.Data;
@using Company_Site.Pages.Components

<p class="fw-bold text-button-heading mb-2">Nclt Net</p>

<div class="mx-2 card px-2 py-2">
    <EditForm Model="NewEntry" OnValidSubmit="Save">

        <DataAnnotationsValidator/>

        <MultiErrorView Errors="_errors"/>

        <div class="row">
            <div class="col-md-3">
                <label for="caseName">Case Name</label>
                <InputText @bind-Value=NewEntry.case_name id="case_name" class="form-control" type="text"/>
                <ValidationMessage For="@(() => NewEntry.case_name)"/>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <label for="court">Court</label>
                <InputText @bind-Value=NewEntry.court id="court" class="form-control" type="text"/>
                <ValidationMessage For="@(() => NewEntry.court)"/>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <label for="applicant">Applicant</label>
                <InputText @bind-Value=NewEntry.Applicant_name id="applicant" class="form-control" type="text"/>
                <ValidationMessage For="@(() => NewEntry.Applicant_name)"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label for="insolveryDate">Insolvery Commitment Date</label>
                <input type="date" @bind-value=NewEntry.insolvery_commencement_date id="insolveryDate" class="form-control"/>
                <ValidationMessage For="@(() => NewEntry.insolvery_commencement_date)"/>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <label for="ipr">IPR</label>
                <InputText @bind-Value=NewEntry.IPR id="ipr" class="form-control" type="text"/>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <label for="rp">RP</label>
                <InputText @bind-Value=NewEntry.RP id="rp" class="form-control" type="text"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label for="IPE">IPE</label>
                <InputText @bind-Value=NewEntry.IPE id="IPE" class="form-control" type="text"/>
                <ValidationMessage For="@(() => NewEntry.IPE)"/>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <label for="liquidator">Liquidator</label>
                <InputText @bind-Value=NewEntry.liquidator id="liquidator" class="form-control" type="text"/>
                
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <label for="liquidationValue">Liquidation Value</label>
                <InputNumber @bind-Value=NewEntry.Liquidation_Value id="liquidationValue" class="form-control" type="text"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label for="PRA">PRA</label>
                <InputText @bind-Value=NewEntry.PRA id="PRA" class="form-control" type="text"/>
               
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <label for="ra">RA</label>
                <InputText @bind-Value=NewEntry.RA id="ra" class="form-control" type="text"/>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <label for="currentStage">Current Stage</label>
                <InputText @bind-Value=NewEntry.current_stage id="currentStage" class="form-control" type="text"/>
            </div>
        </div>
        <label for="assetDetails">Asset Details</label>
        <InputTextArea @bind-Value=NewEntry.Asset_Details class="form-control" id="assetDetails"></InputTextArea>

        <!--RA Details-->
        <div class="row my-2">

            <Modal Title="RA Details Form" ShowModal=RADetailsFormShown>
                <EditForm Model="NewRADetailsEntry" OnValidSubmit="SaveRADetails" Context="RADetails">
                    <div class="my-1">
                        <label for="PRA">Name</label>
                        <InputText @bind-Value=NewRADetailsEntry.Name class="form-control" type="text"/>
                    </div>
                    <div class="my-1">
                        <label for="ra">Plan Value</label>
                        <InputNumber @bind-Value=NewRADetailsEntry.PlanValue class="form-control" type="text"/>
                    </div>
                    <div class="my-1">
                        <label for="currentStage">Our Share</label>
                        <InputNumber @bind-Value=NewRADetailsEntry.OurShare class="form-control" type="text"/>
                    </div>
                    <div class="my-1">
                        <label for="PRA">Payment Timeline</label>
                        <InputText @bind-Value=NewRADetailsEntry.PaymentTimeline class="form-control" type="text"/>
                    </div>
                    <div class="my-1">
                        <label for="ra">Plan Details</label>
                        <InputText @bind-Value=NewRADetailsEntry.PlanDetails class="form-control" type="text"/>
                    </div>
                    <div class="my-1">
                        <label for="currentStage">Scoring</label>
                        <InputNumber @bind-Value=NewRADetailsEntry.Scoring class="form-control" type="text"/>
                    </div>
                    <div class="d-flex justify-content-center my-2">
                        <a class="btn btn-danger mx-1" @onclick=CancelRADetails>Cancel</a>
                        <a class="btn btn-secondary mx-1" @onclick=ClearRADetails>Clear</a>
                        <input type="submit" class="btn btn-primary mx-1" value="Save"/> 
                    </div>
                </EditForm>
            </Modal>


            <div class="row mt-3 mx-0 px-0 align-items-center">
                <div class="col-8 d-flex justify-content-start">
                    <h4>RA Details</h4>
                </div>
                <div class="col-4 d-flex justify-content-end">
                    <a class="btn btn-primary" @onclick=AddRADetials>
                        <i class="fa fa-plus me-2"></i>
                        Add
                    </a>
                </div>
            </div>
            <Table T="RADetailsModel" T2="int" Headers="RADetailsHeaders" Items="RADetailsEnteries" GetId="GetRADetailsId" IsSearchable=false OnDelete="DeleteRADetails" OnEdit="EditRADetails"/>
        </div>

        <div class="row">
            <div class="col-md-9">
                <label for="plan">Plan</label>
                <InputTextArea @bind-Value=NewEntry.Plan id="plan" class="form-control" type="text"/>
            </div>
            <!--Timeline data-->
            <div class="col-md-3">
                <div class="row my-2">

                    <Modal Title="Timeline Form" ShowModal=TimelineFormShown>
                        <EditForm Model="NewTimelineEntry" OnValidSubmit="SaveTimeline" Context="Timelines">
                            <div class="my-1">
                                <label for="PRA">Name</label>
                                <input type="date" @bind-value=NewTimelineEntry.Date class="form-control"/>
                            </div>
                            <div class="my-1">
                                <label for="ra">Plan Value</label>
                                <InputText @bind-Value=NewTimelineEntry.Particulars class="form-control" type="text"/>
                            </div>
                            <div class="d-flex justify-content-center my-2">
                                <a class="btn btn-danger mx-1" @onclick=CancelTimeline>Cancel</a>
                                <a class="btn btn-secondary mx-1" @onclick=ClearTimeline>Clear</a>
                                <input type="submit" class="btn btn-primary mx-1" value="Save"/> 
                            </div>
                        </EditForm>
                    </Modal>


                    <div class="row mt-3 mx-0 px-0 align-items-center">
                        <div class="col-8 d-flex justify-content-start">
                            <h4>Timeline</h4>
                        </div>
                        <div class="col-4 d-flex justify-content-end">
                            <a class="btn btn-primary" @onclick=AddTimeline>
                                <i class="fa fa-plus me-2"></i>
                                Add
                            </a>
                        </div>
                    </div>
                    <Table T="TimelineModel" T2="int" Headers="TimelineHeaders" Items="TimelineEnteries" GetId="GetTimeLineId" IsSearchable=false OnDelete="DeleteTimeline" OnEdit="EditTimeline"/>
                </div>
            </div>
        </div>

        @if (ShouldAdd)
        {
            <p class="text-danger">** The below data will not autosave until an entry is saved first manually. **</p>
        }

        <div class="row">
            <div class="col-md-9">
                <label for="liquidationDetails">Liquidation Details</label>
                <InputTextArea Value="@NewEntry.LiquidationDetails" ValueExpression=@(() => NewEntry.LiquidationDetails) ValueChanged=LiquidationValueChanged id="liquidationDetails" class="form-control" type="text"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9">
                <label for="scheme">IBC-Scheme 230-Companies Act</label>
                <InputText Value=@NewEntry.CompaniesAct ValueExpression=@(() => NewEntry.CompaniesAct) ValueChanged="CompaniesActValueChanged" id="scheme" class="form-control" type="text"/>
            </div>
        </div>
        <div class="my-2 d-flex justify-content-center">
            <a class="btn btn-danger mx-1" @onclick=Clear>Clear</a>
            <input type="submit" class="btn btn-primary mx-1" value="Save"/> 
        </div>
    </EditForm>

    <!--Claims and Share-->
    <div class="row my-2">

        <Modal Title="Claims & Share Form" ShowModal=ClaimsAndShareFormShown>
            <EditForm Model="NewClaimsAndSharesEntry" OnValidSubmit="SaveClaimsAndShare" Context="ClaimsAndShares">
                <div class="my-1">
                    <label for="PRA">Lender Name</label>
                    <InputText @bind-Value=NewClaimsAndSharesEntry.LenderName class="form-control"/>
                </div>
                <div class="my-1">
                    <label for="ra">Claim Submitted</label>
                    <InputNumber @bind-Value=NewClaimsAndSharesEntry.ClaimSubmitted class="form-control" type="text"/>
                </div>
                <div class="my-1">
                    <label for="ra">Admitted</label>
                    <InputNumber @bind-Value=NewClaimsAndSharesEntry.Admitted class="form-control" type="text"/>
                </div>
                <div class="my-1">
                    <label for="ra">Share</label>
                    <InputNumber @bind-Value=NewClaimsAndSharesEntry.Share class="form-control" type="text"/>
                </div>
                <div class="my-1">
                    <label for="ra">Voting Share</label>
                    <InputNumber @bind-Value=NewClaimsAndSharesEntry.VotingShare class="form-control" type="text"/>
                </div>
                <div class="d-flex justify-content-center my-2">
                    <a class="btn btn-danger mx-1" @onclick=CancelClaimsAndShare>Cancel</a>
                    <a class="btn btn-secondary mx-1" @onclick=ClearClaimsAndShare>Clear</a>
                    <input type="submit" class="btn btn-primary mx-1" value="Save"/> 
                </div>
            </EditForm>
        </Modal>


        <CollapsibleContainer Title="Claims & Share">
            <div class="row mt-3 mx-0 px-0 align-items-center">
                <div class="col-8 d-flex justify-content-start">
                    <h4>Claims & Share</h4>
                </div>
                <div class="col-4 d-flex justify-content-end">
                    <a class="btn btn-primary" @onclick=AddClaimsAndShare>
                        <i class="fa fa-plus me-2"></i>
                        Add
                    </a>
                </div>
            </div>
            <Table T="ClaimsAndShareModel" T2="int" ShowSerialNumber=true ShowTotal=true GetTotal="GetClaimsAndShareTotal" Headers="ClaimsAndShareHeaders" Items="ClaimsAndShareEnteries" GetId="GetClaimsAndShareId" IsSearchable=false OnDelete="DeleteClaimsAndShare" OnEdit="EditClaimsAndShare"/>
        </CollapsibleContainer>

    </div>

</div>

